body {
    width: 100%;
    
}

h3 {
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 15px;
   font-weight: 300;
}

hr {
    background-color: #005282;
    height: 2px;
    width:  70%;
    border: none;
}

h1 {
    font-family:"Lato", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

span {
    color: #005282;
}

#newletter-checkbox-1 {
    text-align: center;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}


#newletter-checkbox-2 {
    text-align: center;
    font-family: Arial, sans-serif;
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
}

label {
    font-family: Arial, sans-serif;
    font-size: 15px;
    
}

#button-top {
   text-align: center;
   width: 300px;
   height: 55px;
   display: block;
   margin: 0 auto;
   border-radius: 8px;
   border: 1px solid #05263a;
   background-color: #005282;
   font-family: Arial, sans-serif;
   color: white;
   padding: 10px;
   
}

#message {
    text-align: center;
    font-family: Arial, sans-serif;
}

#button-bottom {
    text-align: center;
    width: 250px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #05263a;
    background-color: #005282;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    
 }

 #message-1 {
    text-align: center;
    font-family: Arial, sans-serif;
 }

#top-left {
    height: 200px;
    background-color: #71a1be;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

#calendar-icon {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#calendar-info {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 10px;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
}

#calendar-date {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#top-right {
    background-color: #71a1be;
    margin-top: -18px;
    padding-top: 10px;
    text-align: center;
    height: 200px;
}

#top-right p {
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 250px;
    margin: 0 auto;
    
}

.container {
    text-align: center;
    margin: 0 auto;
}

.info {
    color: white;
    font-weight: bold;
}

.info-label {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.info-label td {
    padding: 10px;
}

#bottom-left {
    background-color: #05263a;
    margin-top: -20;
    padding-top: 40px;
}

#James {
    display: block;
    margin: 0 auto;
}

#bottom-left p {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: white; 
    text-align: center;
}

#bottom-left h2 {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

#bottom-right {
    text-align: center;
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    margin-top: -20;
    padding-top: 20px;
    padding-bottom: 20px;
}

#bottom-right-line {
    font-weight: bold;
}

#check-info {
    display: flex;
    justify-content: center;
}

#check-info p{
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    width: 250px;
}

#check-info img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#warning {
    background-color: #f58c99;
    height: 80px;
    margin-top: 0;

}

#warning p {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    color: white;
    width: 300px;
}

#marketing-tag {
    margin-top: -4;
    background-color: #05263a;
    height: 60px;
}

#marketing-tag {
    font-family: Arial, sans-serif;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}

#triangle {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #05263a;
    margin: 0 auto;
  }

@media only screen and (min-width: 700px){
    hr {
        width:  40%;
    }
    #header-content{
        width: 480px;
        margin: 0 auto;
    }

    #button-top {
        width: 300px;
    }
    
    #top {
        display: flex;
        justify-content: center;
    }

    #top-left {
        width: 300px;
        margin-top: 15px;
        margin-right: 10px;
    }

    #top-right {
        margin-top: 15px;
        width: 500px;
    }

    #top-right p {
        width: 500px;
    }

    #bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #bottom-right {
        width: 435px;
        margin-top: 10px;
        padding-top: 0;
    }

    #bottom-left {
        margin-top: 10;
        width: 375px;
        height: 530px;
        padding-top: 30px;
    }

    #check-info img {
        margin-right: 5px;
    }

    #check-info p{
        width: 350px;
    }

    #James {
        width: 300px;
    }

    #warning {
        width: 810px;
        margin: 0 auto;
    }

    #warning p {
        width: 600px;
        padding-top: 30px;
    }

    #marketing-tag {
        width: 810px;
        margin: 0 auto;
    }
}